<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
#include ui/ui.css
</head>
<body>

    <button class="openbtn" onclick="openNav()"><b>Меню</b></button>

#insert template/sadebar.html
    
    <form action="/element" method="POST" id="main">

        <input type="text" name="url" value="Адрес:">
        <input type="text" name="text" value="Имя кнопки:">
        
        </div>
        <br>
        <button type="submit">Добавить</button>
    
    </form>



    <script>
        function openNav() {
          document.getElementById("mySidebar").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidebar").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
        }
    </script>

</body>
</html>