<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test-page</title>
#include ui/ui.css
</head>
<body>

    <button class="openbtn" onclick="openNav()"><b>Меню</b></button>

#insert template/sadebar.html

    <form method="POST" id="main">
        <button type="submit" name="adres">Кнопка</button>
        <cut>
    </form>

    <form class="button-pad" action="/search" method="POST">
        <input type="text" name="search" value="Ввод текста...">
        <button type="submit" name="command" value="search">Найти</button>
        <button type="submit" name="command" value="close" class="media-button"><img class="ico" src="https://cdn-icons-png.flaticon.com/512/112/112692.png" alt=""></button>

    </form>

    <script>
        function openNav() {
          document.getElementById("mySidebar").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidebar").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
        }
    </script>

</body>
</html>