<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
#include ui/ui.css

</head>
<body>

    <button class="openbtn" onclick="openNav()"><b>Меню</b></button>

#insert template/sadebar.html

    <div class="error-palce">
        <img class="err-img" width="100%" src="https://media.tenor.com/Pst9ar32XG4AAAAC/devil-may-cry-devil-may-cry3.gif">
        <h1 class="err-title">Ошибочька!</h1>
        <div class="err-text">ОЙ! поймано исключение, проверте выполнели ли вы все действия правельно</div>
        <ul>
            <li>Проверте заполнели ли вы какую-нибудь текстовыю облость</li>
            <li>Убедитесь в коректность запроса</li>
            <li>Возможно функция в данный момент не работает дождитесь патча</li>
        </ul>
    </div>
   
    <script>
        function openNav() {
          document.getElementById("mySidebar").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidebar").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
        }
    </script>
    
</body>
</html>