<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>remout control</title>
#include ui/ui.css
</head>
<body>
    
    <button class="openbtn" onclick="openNav()"><b>Меню</b></button>



    <form action="/index" method="POST" id="main">
        <button type="submit" value="Hello!!" name="adres">Hello</button>
        <button type="submit" value="https://www.youtube.com/" name="adres">Ютуб</button>
        <cut>
    </form>

    <form class="button-pad" action="/search" method="POST">
        <img width="50%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Yandex_Logo.svg/2560px-Yandex_Logo.svg.png" alt="">
        <input type="text" name="search">
        <button type="submit" name="command" value="search">Найти</button>
        <button type="submit" name="command" value="close" class="media-button"><img class="ico" src="https://cdn-icons-png.flaticon.com/512/112/112692.png" alt=""></button>

    </form>

    <form class="/index-pad" align="center" action="/media-pad" method="POST">
    </form>

#insert template/sadebar.html

    <script>
        function openNav() {
          document.getElementById("mySidebar").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidebar").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
        }
    </script>


</body>
</html>