<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки</title>
</head>
<body>
#include ui/ui.css

    <button class="openbtn" onclick="openNav()"><b>Меню</b></button>

#insert template/sadebar.html

    <form id="main" action="/root" method="POST">
        <h1>Настройка собственного стиля</h1>
        <input type="text" name="primary-color" value="Главный цвет">
        <input type="text" name="text-color" value="Цвет текста">
        <input type="text" name="background-color" value="Цвет фона">
        <input type="text" name="hight-text" value="Цвет подсветки">
        <input type="text" name="input-text-color" value="Цвет ввода">
        <input type="text" name="border-radius" value="Скругление кнопок">
        <button type="submit">Сохранить</button>
    </form>

    <form class="gamma-grid" action="/color-gam" method="POST">
        <h1>Присеты стилей</h1>
        <div class="gamma">
            <img class="gamma-img" src="" alt="">
            <h1 class="gamma-title">ChatGreen</h1>
            <div class="gamma-description">
                Цвета как на сайте openai.com
            </div>
            <button class="set" type="submit" name="set" value="ChatGreen.css">ChatGreen</button>
        </div>
        
        <div class="gamma">
            <img class="gamma-img" src="" alt="">
            <h1 class="gamma-title">ChatGreenWhite</h1>
            <div class="gamma-description">
                Цвета как на сайте openai.com, только болие светлый 
            </div>
            <button class="set" type="submit" name="set" value="ChatGreenWhite.css">ChatGreenWhite</button>
        </div>
    </form>

<script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
</script>


</body>
</html>